/*
Colours
#F8FFFF - background of page, text on darker divs
#2C6664 - text on lighter divs.background
#4EB5AF - banner
*/

body {
    margin: 0px;
    background-color: F8FFFF;
    color: #2C6664;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: normal;
    font-size: 14px;
    font-family: quicksand, verdana, arial, sans-serif;
}

header {
    background-color: #4EB5AF;
    margin-top: 0px;
    padding: 0px;
    height: 150px;
}

h1 {
    color: #F8FFFF;
    font-weight: lighter;
    font-style: normal;
    font-size: 72px;
    letter-spacing: normal;
    text-align: center;
    padding-top: 40px;
    margin: 0px;
    text-transform: uppercase;
}

h2 {
    color: #2C6664;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top: 3rem;
}

h3 {
    color: #2C6664;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top: 4rem; 
}

.choice-one {
    float: left;
    margin-left: 20%;
}

.choice-two {
    float: right;
    margin-right: 20%;
}

