/*
Colours
#F8FFFF - background of page, text on darker divs
#2C6664 - text on lighter divs.background
#4EB5AF - banner
#D7F8F6 - button
*/

body {
    margin: 0px;
    background-color: F8FFFF;
    color: #2C6664;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: normal;
    font-size: 14px;
    font-family: quicksand, verdana, arial, sans-serif;
}

header {
    background-color: #2C6664;
    margin-top: 0px;
    padding: 0px;
    height: 150px;
}

h1 {
    color: #F8FFFF;
    font-weight: lighter;
    font-style: normal;
    font-size: 72px;
    letter-spacing: normal;
    text-align: center;
    padding-top: 40px;
    margin: 0px;
    text-transform: uppercase;
}

h2 {
    color: #2C6664;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top: 3rem;
}

h3 {
    color: #2C6664;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top: 4rem; 
}


.choice-one {
    float: left;
    margin-left: 20%;
}

.choice-two {
    float: right;
    margin-right: 20%;
}

.clear {
    clear: both;
}

.choicesInput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choice-one-input {
    width: 30%;
    margin-right: 10%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #4EB5AF;
    color: #2C6664;
}
.choice-two-input {
    width: 30%;
    margin-left: 10%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #4EB5AF;
    color: #2C6664;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.submit-button {
    width: 10em;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #4EB5AF;
    border: none;
    color: #FFFFFF;
    font-size: inherit;
    text-align: center;
    display: inline-block;
}

.submit-button:hover {
    width: 10em;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #2C6664;
    border: none;
    color: #FFFFFF;
    font-size: inherit;
    text-align: center;
    display: inline-block;
}

.icons {
    margin: 10% 5% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.icon {
    width:20%;
}

/*Hiding and revealing content - iteration 2*/

